<div class="container my-5">
  <div class="row">
    <div class="col-sm-12">
      <h1>This chat.</h1>
      <p>Is tech demo powered by Google's Firestore realtime database.</p>
      <p>Please be polite in your messages. If things get a little out of control please e-mail me at jfelipelujan@gmail.com</p>
      <a href="http://www.felipelujan.com" style="text-decoration: none">www.Felipelujan.com</a>
    </div>
    <div class="col-md-4">

      <div class="form-group ">

        <input type="text"
               placeholder="Your Name"
               id="name" [(ngModel)]="name"
               class="form-control"
               required><br>

        <textarea name=""
                  [(ngModel)]="message"
                  id="" cols="30" rows="10"
                  placeholder="Your message"
                  class="form-control my-1"
                  required
        ></textarea>

        <button (click)="sendMessage()" class="btn btn-outline-info btn-block"> submit</button>
      </div>
    </div>
    <div class="col-md-8">
      <div class="col-sm-12">
        <p>Thanks to Angular Medellin community and MeetUp organizers for guidance.</p>
      </div>

      <div class="card border-info mb-3">
        <div class="card-header">Angular Lab</div>
        <div class="card-body">
          <h4 class="card-title"></h4>

          <ul *ngFor="let item of items | async" class="card-title">
            <span> {{ item.name}}</span>: <span> {{ item.message}}</span><br>
          </ul>

        </div>
      </div>



    </div>
  </div>
</div>






